*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

main, header{
  width: 600px;
  margin: 0 auto;
}

header{
  background-color: #5e747f;
  color: whitesmoke;
}
header h1, header p{
  margin-top: 0;
  padding-left: 10px;
}

main{
  background-color: #f5f4f6;
  height: 100vh;
}

button{
  background-color: #a9bc9f;
  color: #f5f4f6;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 20px 25px;
  font-size: 16px;
  cursor: pointer;
}
button:hover{
  background-color: #7b9e87;
}

.place-order{
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}


.order{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.order-container{
  margin-bottom: 50px;
}

.order-price{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 2px solid black;
  margin-bottom: 20px;
}
.item{
  border-bottom: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.item-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  gap: 20px;
}
.item-detail{
  width: 358px;
}
.item-pic{
  width: 89px;
  height: 70px;
  font-size: 56px;
}
.item-add{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
}
i{
  font-size: 15px;
  cursor: pointer;
}
.fa-solid{
  color: #999;
}
.hidden{
  display: none;
}
.modal{
  display: none;
  /* display: block; */
  width: 524px;
  height: 402px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 6px 2px #666;
}

.close-modal-btn-container{
  text-align: right;
  margin: 10px;
}
.close-modal-btn{
  cursor: pointer;
}

.modal-inner{
  text-align: center;
  padding: 20px;
}
.pay-btn{
  margin-top: 20px;
  margin-bottom: 10px;
}
input{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #212529;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
}

.banner{
  margin: 50px 50px;
  background-color: #b6be9c;
}

.banner-inner{
  padding: 10px 0;
  text-align: center;
}
.banner-inner h2{
  color: #5e747f;
}